<div class="container-fluid">
  <!-- Start new Gallery -->
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
      <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          New Gallery
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <app-new-gallery></app-new-gallery>
        </div>
      </div>
    </div>
  </div>
  <!-- End new Gallery -->
  <!-- Start No Galleries Alert -->
  <div class="row">
    <div class="col-md-8 col-xs-6 col-lg-8 alert alert-danger alert-dimissable" *ngIf="data.hasNoGalleries">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      You don't seem to have any galleries! Add some now!
    </div>
  </div>
  <!-- End No Galleries Alert -->
  <!-- Start Galleries Showcase -->
  <div class="row">
    <div *ngFor="let item of data.galleries" class="col-lg-3 col-sm-6 col-xs-12 col-md-4">
      <app-gallery-item [gallery]="item"></app-gallery-item>
    </div>
  </div>
  <!-- End Galleries Showcase -->
</div>

<div class="col-md-3 new-gallery-success col-xs-6 col-sm-4 col-lg-2 alert-dismissible alert alert-success" *ngIf="data.newGallerySuccess">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Gallery created successfully!
</div>