<div class="thumbnail">
  <img class="img-responsive" [src]="img.link.thumb" alt="">
  <div class="caption">
    <h3> {{ img.title }}</h3>
    <div *ngIf="img.description">
      <p> {{ img.description }} </p>
    </div>
    <div>
      <br>
      <button (click)="deleteImg()" class="btn btn-danger">Delete</button>
      <button (click)="navigate()" class="btn btn-default">Edit</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'.detail-' + img.id">Comments</button>
    </div>
  </div>
</div>
<app-photo-detail [img]="img"></app-photo-detail>